body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #8a5cbb, #602d96, #4a0a8fda, #6a11cb,#242686, #2d5768);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  height: 15   0px;
    width: 500px;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f0f0f0;
}

#fortune-text {
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
}

.cookie{
    width: 100px;
border-radius: 50%;
}
